:root {
    --accent: rgb(212, 255, 0);
    --accent-hover: rgb(190, 228, 0);
    --control: #49a004;
    --secondary:#ECEFEB;
    --secondary-hover: #E0E4DE;
    --secondary-active: #6c6c6b;
    --headline-color: rgba(100,105,150,1);
    --event-text: rgba(29, 32, 59, 1);
    /* --event-text:rgba(255, 255, 255, 1); */
    --success:rgba(80,189, 85, 1);
    --error:rgba(232,113,113, 1);
    --white: rgba(255, 255, 255, 1);
    --black:rgba(0,0,0,1);
    z-index: 4;
    position: relative;
    }
    /* body {
         background-color: rgb(32,32,32);
    padding: 16px; 
    display: flex;
     height: 100px; 
    min-width: 250px;
    font-family:"Inter", sans-serif;
    }
    *{
    box-sizing: border-box;
    
    } */
    
    
    .action-buttons {
    position: relative;
    display:inline-flex;
    flex: 0 0 auto;
    gap:8px;
    scroll-snap-align: start;
    width: 100%;
    flex-wrap: wrap;
    }
    .action-button { 
    color: #163300; 
    border-radius: 16px;
    height: 32px;
    gap: 4px;
    cursor: pointer ;
    display:flex;
    padding: 0 12px;
    font-weight:600;
    transition: all 0.2s ease-in-out; 
    white-space: nowrap;
    align-items:center;
    text-decoration: none;
     background-color: rgb(32,32,32);
    /* background: var(--secondary); */
    }
    .action-button--primary:active { 
    background: var(--accent-active);
    }
    .action-button:active {
    background: var(--secondary-active);
    }
    .action-button--horizontal-scroll { 
    border-radius: 50%; 
    cursor: pointer;
    border: none,;
    outline: none;
     width: 32px; 
    height: 32px;
    background: var(--accent);
    }
    
    action-button--horizontal-scroll
    :hover {
    background: var(--accent-hover);
    }
    .action-button--horizontal-scroll
    :active{
    background: var(--accent-active);
    }
    .action-button--horizontal-scroll
    :disabled {
    cursor: not-allowed;
    background: var(--secondary) ;
    }
    .action-button--horizontal-scroll
    :disabled:hover {
    background: var(--secondary) ;
    }
    action-button--horizontal-scroll
    :disabled:active {
    background: var(--secondary) ;
    }
    #action-button--previous {
     margin-left: auto;
    transform: rotate(-90deg) ;
    }
    #action-button--next {
    transform: rotate(90deg) ;
    }
    .action-button--primary {
    background: var(--accent);
    }
    
    .action-button:hover {
    background: var(--secondary-hover);
    }
    .action-button--primary:hover {
    background: var(--accent-hover);
    }
    .action-button--primary:active { 
    background: var(--accent-active);
    }
    #events {
    display: flex; 
    position: relative;
    gap: 0.2rem;
    padding: 0px 0px; 
    /* width: 83.45%; */
    flex-direction: row;
    overflow: auto;
    width: 100%;
    height: 100%;
     background-color: rgb(32,32,32);
    }


@media screen and (min-height: 801px) {
  #events {
    padding: 0px 0px;
  }
}
    .event {
    appearance: none;
    text-decoration: none; 
    position: relative;
    transition: all 0.2s ease-in-out; 
    
    min-width:16.5%;
    height: 100%;
    cursor: pointer;
    flex-direction: column; 
    justify-content: space-between; 
    scroll-snap-align: start;
    overflow: hidden;
    color: rgba(29, 32, 59, 1);
     background-color: rgb(32,32,32);
    }
    
    .event_image{
    position: relative;
   
    height: 82%;
     background-color: rgb(32,32,32);
    
    }
    #event_image{
      position: relative;
      
      height: 100%;
       background-color: rgb(32,32,32);
      
      }
    .event_indicator { 
    position: absolute; 
    padding: 0.5rem; 
    min-width: 3.5rem; 
    min-height: 3.5rem; 
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    background: var(--white);
     align-items: center;
     border-radius: 0.5rem;
    }
    
    .event_date_month {
    font-size: 0.6rem;
     text-transform: uppercase; 
    font-weight: bold;
    color: var(--event-headline);
    }
    .event_type {
    top: 0rem; 
    right: 0.5rem;
    }
    .event_type svg {
    color: var(--event-text);
    height: 2rem; 
    width: 2rem;
    }
    .event-description {
    color: var(--event-text); 
    top:0;
    padding: 0rem 0rem;
     background-color: rgb(32,32,32);
    }
    .event img { width: 100%; height: 150px; border-radius: 1rem; object-fit: cover; object-position: top;
    }
    .event video { width: 100%; height: 150px; border-radius: 0rem; object-fit: cover; object-position: top;
    }
    .event h2 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 0;
    margin-top:0;
    font-size: 0.8rem; 
    letter-spacing: normal; 
    overflow-wrap: normal; 
    white-space: nowrap;
    font-weight: 300; 
    color: white;
    overflow: hidden;
     background-color: rgb(32,32,32);
    }
    
    .bottom-stats { 
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 0;
    font-size: 0.7rem;
    gap: 0rem; 
    width: 100%;
    flex-direction: row;
    color: white;
     background-color: rgb(32,32,32);
    }
    bottom-stat{
    display: flex;
    align-items: flex-start;
    background-color: red;
    justify-content: flex-start;
    font-size: 0.5rem;
    margin-top: 0;
    gap: 0rem;
    /* align-items: center;  */
    flex-direction: row;
     background-color: rgb(32,32,32);
    }
    .container {
    position: relative;
    
    width: 100%;
    
    background-color: rgb(207, 21, 21);
    
    /* min-width: 300px; */
     /* margin: 120px auto; */
     margin-left: 0px;
     margin-top: 0px;
     z-index: 4;
    }
    /* circle {
    height: 0.5rem; 
    width: 0.5rem;
    border-radius: 50%;
    } */
    .circle--green {
    /* background: var(--success); */
     background-color: rgb(32,32,32);
    }
    .circle--red {
    /* background: var(--error); */
     background-color: rgb(32,32,32);
    }
    .event_date {
    top: 0.5rem;
     left: 0.5rem; 
    font-size: 1rem;
    }
